.img-gallery{
    width: 90%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}
.full-img{
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
li.menu{
    float: left;
  }
  #nav_menu{
    color: #ebf58d;
    font-size:large;
    font-weight: bold;
    font-family:monospace;
  }
  li a{
    display: #ff7300;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #e71212;
  }
  #signup_li{
  float: right;
  }
  h1{
    color:rgb(229, 255, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 1px;
    line-height: 2; 
    text-align: center; 
  }
  .footer{
    float: unset;
  }
  a.footer{
    display: block;
    color: #e71212;
    float:none;
    text-align:justify;
    font-style:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  a.footer:hover{
    background-color:#ebf58d;
    height:auto;
    width: 100px;
    top: -35px;
    bottom: -35px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;  
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align:justify;
  }